* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: rgb(27, 27, 27);
  color: white;
  height: 100%;
  width: 100%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.card-container{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0 5px;
}

.card{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #373542;
  border-radius: 10px;
  border: 1px solid;
  margin: 20px;
  padding: 20px;
  width: 270px;
  align-items: center;
}

.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50px;
}

.card p {
  margin-top: 10px;
}

.info-btn{
  margin-top: 30px;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border-style: none;
}